@font-face {
    font-family: 'ailerons';
    src: url('ailerons-webfont.woff2') format('woff2'),
         url('ailerons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minimalust';
    src: url('minimalust-webfont.woff2') format('woff2'),
         url('minimalust-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo';
    src: url('Museo_Slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: bebasneue;
    src: url(font/bebasneue/bebasneue.woff);
}

/* style */
.jumbotron {
    color: #fff;
    padding-top: 4rem;
    background-image: url(../../../img/Profile/19/Jumbotron/swril.jpg);
}

#project {
    background-color: #d8d8d8;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.card {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}

footer p {
    margin-top: auto;
    margin-bottom: auto;
}